<html>
<head>
    <title>Vito</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
    <link rel="stylesheet" href="{{ asset('css/vito.css') }}" />
</head>
<body>
    <h1 class="margins-10">Vito</h1>
    <div id="content" data-model="{{dataModel|json_encode()}}" class="margins-10"></div>
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>