<html>
<head>
    <title>Vito</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('css/vito.css') }}" />
</head>
<body>
    <h1>Vito</h1>
    <div id="content"></div>
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</body>
</html>